@charset "UTF-8";html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;height: 100%;}
/* reset */
html{color: #000; background: #fff; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%;}
html *{outline: 0; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent; box-sizing: border-box}
body, html{font: 14px/1.5 sans-serif;}
body{min-height: 100%;}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul{margin: 0; padding: 0}
input, select, textarea{font-size: 100%}
table{border-collapse: collapse; border-spacing: 0}
fieldset, img{border: 0}
abbr, acronym{border: 0; font-variant: normal}
del{text-decoration: line-through}
address, caption, cite, code, dfn, em, th, var{font-style: normal; font-weight: 500}
ol, ul{list-style: none}
caption, th{text-align: left}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: 500}
q:after, q:before{content: ''}
sub, sup{font-size: 75%; line-height: 0; position: relative; vertical-align: baseline}
sup{top: -.5em}
sub{bottom: -.25em}
a, a:hover, ins{text-decoration: none}
input[type=button],
input[type=submit],
input[type=reset]{-webkit-appearance: none}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration{display: none}
:focus{outline: 0;}
*, :before, :after{box-sizing: border-box;}
*{-webkit-user-select: text; -webkit-tap-highlight-color: transparent; -webkit-appearance: none;}
.clear:after{content: ''; display: block; height: 0; clear: both; visibility: hidden;}
.clear{zoom: 1;}
.txt-ell{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.txt-ell2{line-height: 1.5; display: -webkit-box !important; -webkit-line-clamp: 4; -webkit-box-orient: vertical; -moz-line-clamp: 4; -moz-box-orient: vertical; word-break: break-all; overflow: hidden;}
.green{background: #94D201}
.blue{background: #3BBAFF}
.skyblue{background: #32D2EA}
.yellow{background: #F7C028}
.white{background: #fff}
.bg-grey{background: #F5F5F5}
/*banner css*/
.swiper-container{width: 100%; margin: 0 auto; position: relative; overflow: hidden; z-index: 1;}
.swiper-wrapper{position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
.swiper-pagination{bottom: 0.109375rem; right: 0.15625rem; position: absolute; text-align: center; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10;}
.swiper-slide{-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.swiper-pagination-bullet{width: 8px; height: 8px; display: inline-block; border-radius: 100%; opacity: .2;}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor: pointer;}
.swiper-slide p{display: block; width: 100%; height: 1.25rem; line-height: 1.25rem; background: rgba(0, 0, 0, 0.7); font-size: 0.5rem; color: #fff; padding-left: 0.3125rem; position: absolute; bottom: 0; left: 0}
.swiper-slide img{width: 100%; height: 100%; display: block;}
.swiper-pagination-bullet{background: #999; width: 0.15625rem; height: 0.15625rem; margin-right: 0.09375rem; opacity: 1;}
.swiper-pagination-bullet-active{background: #fff;}
.school-menu{width: 100%; height: 3.90625rem; background: #F5F5F5; padding-top: 0.390625rem;}
.menu-list{width: 100%; padding: 0.390625rem 0.625rem; background: #fff}
.menu-list li{float: left; margin-right: 0.78125rem; width: 1.5625rem; text-align: center;}
.menu-list li div{border-radius: 10px;}
.menu-list li a{display: block;}
.menu-list li p{width: 100%; text-align: center; font-size: 0.37rem; color: #545454; padding-top: 0.15625rem}
.menu-list li:last-of-type{margin-right: 0}
.menu-list li .iconfont{line-height: 1.5625rem; font-size: 0.9375rem; color: #fff;}
.menu-list .skyblue .iconfont{font-size: 0.859375rem}
.menu-list .yellow .iconfont{font-size: 0.859375rem}
.school-news{width: 100%; padding-left: 0.3125rem;}
.school-news li{border-bottom: 1px solid #C8C8C8; padding: 0.3125rem 0.46875rem 0.18rem 0;}
.school-news li:last-of-type{border-bottom: none;}
.school-news li a{display: block;}
.school-news li .news-left{float: left; padding-right: 0.234375rem}
.school-news li .news-left img{width: 2.34375rem; height: 1.5625rem;}
.school-news li .news-right h1{font-size: 0.4375rem; color: #545454; line-height: 0.59375rem; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; -moz-line-clamp: 2; -moz-box-orient: vertical; word-break: break-all; overflow: hidden; height: 1.171875rem}
.school-news li .news-right span{font-size: 0.3125rem; color: #999;}
.school-news li .news-right .news-comments{float: left;}
.school-news li .news-right .news-comments .iconfont{font-size: 0.34375rem; color: #aaa; padding-right: 0.078125rem}
.school-news li .news-right .news-time{float: right;}
/* app */
.app-main{padding-bottom:1.5625rem;}
.app{width: 100%; margin-bottom: 0.46875rem}
.app-top{height: 0.78125rem;line-height: 0.78125rem;}
.app-top p{font-size: 0.375rem;color: #333; padding-left: 0.375rem;}
.app-bglist{padding: 0.390625rem 0.265625rem 0 0.265625rem}
.app-bglist li{width: 2.25rem;  margin-right: 0.15625rem;padding-bottom: 0.625rem}
.app-bglist li .app-img{width:1.5625rem;position: relative; border-radius: 0; margin: 0 auto}
.app-bglist li .app-img img{width: 1.5625rem; border-radius: 10%}
.app-bglist li:nth-child(4n){margin-right: 0}
.apptp-xian{border-bottom: 2px solid #FF0000;}
.app-smlist{width: 100%; padding: 0.3125rem 0.625rem 0 0.625rem;}
.app-smlist li{float: left;margin-right:0.234375rem;width: 1.5625rem;position: relative; text-align: center; padding-bottom: 0.625rem}
.app-smlist li .app-img{width:1.25rem;position: relative; border-radius: 0; margin: 0 auto}
.app-smlist li .app-img img{width: 1.25rem; border-radius: 10%}
.app-smlist li em{position: absolute;right: -10px;top: -10px;background-color: red;border-radius: 50%;z-index: 9;color: #fff;text-align: center;width: 50px;height: 50px;line-height: 50px;display: block; font-size: 30px}
.app-smlist li a{display: block;}
.app-smlist li p{width: 100%;text-align: center;font-size: 0.3125rem;color: #525252;}
.app-smlist li:nth-child(5n){margin-right: 0}
.appdet-top{padding: 0.375rem; margin-bottom:0.46875rem}
.appdet-top img{float: left;width: 1.5625rem;height: 1.5625rem; border-radius: 10%;}
.app-txt{float: left; padding-left: 0.5rem;}
.app-txt .app-name{font-size:0.5rem;color: #333; width: 3.125rem;}
.app-txt .app-author{font-size: 0.40625rem;color: #999; padding-top: 0.15625rem}
.app-buy{float: right;}
.app-buy .app-price{font-size: 0.375rem;color: #FF3F00; padding-bottom:0.3125rem; text-align: center;}
.app-buy .app-btn{font-size:0.375rem;color: #007FFF;width: 1.5625rem;height: 0.71875rem;border-radius: 0.15625rem;text-align: center;line-height:0.71875rem; border: 2px solid #007FFF; padding-left: 0.078125rem; display: block;}
.app-all{padding:0.3125rem;}
.app-container{border-bottom: 1px solid #ddd;padding-bottom: 0.5rem;}
.app-slide{width: 3.90625rem !important;}
.swiper-container-horizontal>.swiper-scrollbar{position: absolute;left: 1%;bottom: 0;z-index: 50;height: 5px;width: 98%;}
.swiper-scrollbar{border-radius: 10px;position: relative;-ms-touch-action: none;background: rgba(0,0,0,.1);}
.swiper-scrollbar-drag{height: 100%;width: 100%;position: relative;background: rgba(0,0,0,.5);border-radius: 10px;left: 0;top: 0;}
.app-content{border-bottom: 1px solid #ddd; padding: 0.3125rem 0}
.app-content h1{font-size: 0.5rem;color: #000;padding-bottom:0.3125rem;}
.app-content p{font-size:0.3125rem;color: #636363;}
.app-content a{font-size: 0.3125rem; color:#017AFF;}
.app-smlist li .badge {position: relative;  top: 0.21875rem;  right: -1.25rem;  width: 0.40625rem;  height: 0.40625rem;  background-color: red;  color: white;  text-align: center;  vertical-align: baseline;  line-height: 0.40625rem;  border-radius: 50%;
}
.app-smlist li .holder {height: 0.40625rem;}
/* navbar */
.navbar{position: fixed; left: 0; bottom: 0; width: 100%; height: 1.25rem; line-height: 1.25rem;z-index: 1010;background-color:rgba(245,245,245,1);border-top:1px solid #AAADB0;}
.navbar-nav{text-align: center; overflow: hidden;margin: 0; list-style: none; width: 100%;position: relative; z-index: 1015;}
.navbar-nav li{width: 20%; float: left;height: auto;}
.navbar-nav a{display: inline-block; width: 100%; height: 1.3125rem;color:#999;position:relative;}
.navbar-nav a .icon{height:0.78125rem;display:block;line-height:0.859375rem;}
.navbar-nav a .iconfont {font-size:0.5625rem;}
.navbar-nav a .navbar-label{line-height: 0.3125rem; font-size: 0.3125rem; display: block;}
.navbar-nav .selected a{color:#3ABE0D;}
.navbar-fix{padding-bottom:1.3125rem;}
.navbar-nav a .icon-iconfontdiqiu{font-size: 0.75rem;}
.navbar-nav a .icon-xuexiao,
.navbar-nav a .icon-gerenxinxi{font-size: 0.59375rem;}

/*index css*/
.top{width: 100%;background: #E9ECF1;line-height: 1.25rem; padding: 0 0.390625rem;}
.top a{display: block; float: left; padding-right:0.3125rem;}
.top a .iconfont{font-size: 0.625rem;color: #3BBE0E;}
.top .top-input{width: 8.125rem;height: 0.78125rem;margin-top: 0.234375rem;border-radius:0.15625rem; border: none; line-height: 0.78125rem;font-size: 0.4375rem; color: #535353;padding:0 0.15625rem; float: left;}
.top .top-input:-ms-input-placeholder{text-align: center;}
.top .top-input::-webkit-input-placeholder{text-align: center;}
.recom-top{height: 1rem; line-height: 1rem;padding: 0 0.390625rem;}
.recom-top span{font-size: 0.4375rem;color: #545454;float: left;}
.recom-top a{font-size: 0.375rem;color: #535353;float: right; display: block;}
.recom-main{background: #fff; padding: 0.234375rem; margin-bottom: 0.3125rem;}
.recom-left{float: left;border: 1px solid #aaa; margin-right: 0.3125rem;}
.recom-left img{width: 2.65625rem;height: 2.34375rem;display: block;}
.recom-right{float: left;width: 6.4625rem;}
.recom-right li{border-bottom: 1px solid #AAA;line-height:0.859375rem;}
.recom-right li:last-of-type{border-bottom: none;}
.recom-right li span{font-size:0.3125rem;}
.recom-right li .recom-name{color: #535353;float: left;width: 4.6875rem;}
.recom-right li .recom-price{color: #FF0000;float: right;}
.recommend{background: #fff;margin-top: 0.46875rem;}
.recommend-top{border-bottom: 1px solid #DDE2EA}
.recommend-top li{float: left;width: 33.333%;background: #fff; height: 1.25rem;line-height: 1.25rem;text-align: center;}
.recommend-top li a{font-size: 0.4375rem;color: #999;}
.recommend-top li.on{border-bottom: 3px solid #39BE0C;}
.recommend-top li.on a{color: #39BE0C}
.recommend-main{padding: 0.3125rem 0 0.3125rem 0.3125rem;}
.recommend-news li{padding: 0.3125rem 0 0.18rem 0;}
.recommend-news li a{display: block;}
.recommend-news li .recommend-left{float: left; margin-right: 0.375rem;}
.recommend-news li .recommend-left img{width: 2.21875rem; height:1.25rem;}
.recommend-news li .recommend-right{float: left;border-bottom: 1px solid #DDE2EA; width: 7.03125rem;padding-bottom: 0.078125rem;}
.recommend-news li .recommend-right h1{font-size: 0.375rem;color: #545454; line-height:0.59375rem; width: 6.75rem; padding-bottom:0.125rem;}
.recommend-news li .recommend-right .recommend-comments{float: left;font-size:0.375rem;color: #FF0000}
.recommend-news li .recommend-right .recommend-time{float: right;font-size: 0.3125rem;color: #999; padding-right: 0.3125rem;}
/*shop*/
.shop-top{width: 100%;}
.shop-top img{width: 100%; padding-bottom: 0.3125rem;}
.shop-main{margin-top: 0.3125rem; padding:0.3125rem 0.46875rem;}
.shop-main li{float: left;width:4.21875rem;margin-right: 0.625rem; padding-bottom:0.3125rem;}
.shop-main li:nth-child(2n){margin-right: 0}
.shop-main li img{width: 100%;}
.shop-main li h1{font-size: 0.375rem; color: #545454;line-height: 0.5rem;}
.shop-main li p{font-size: 0.375rem; color: #FF0000;line-height: 0.5rem;}
.shop-main li span{font-size: 0.3125rem; color: #999;line-height: 0.5rem;}
.shop-more{padding: 0.375rem;}
.shop-more li{float: left;margin-right:0.3125rem; border: 1px solid #AAA; margin-bottom: 0.3125rem;}
.shop-more li a{display: block;}
.shop-more li:nth-child(3n){margin-right: 0}
.shop-more li img{width: 2.8125rem;height: 1.40625rem;display: block;}



/*app detail*/

.shopdt-top{margin-bottom: 0.3125rem;}
.shopdt-top img{width: 100%;}
.shopdt-txt{padding: 0.375rem;}
.shopdt-txt h1{font-size: 0.46875rem;color: #525252;padding-bottom: 0.46875rem;}
.shopdt-txt p{font-size: 0.625rem;color: #FF0000;float: left;line-height: 0.78125rem;}
.shopdt-txt a{width: 1.875rem;height: 0.78125rem;background: #FF7F00;text-align: center;border-radius: 0.15625rem; line-height: 0.78125rem;display: block;float: right;font-size: 0.5rem;color: #fff;}
.shopdt-buy span{float: left;font-size: 0.3125rem;color: #999999;}
.shopdt-buy{clear: both;padding-top: .3rem}
.shopdt-buy .shopdt-right{float: right;}
.shopdt-buy .shopdt-left{padding-right: 1.5rem;}
.commodity-top li{width: 25%;}
.commodity-tab{}
.commodity-main1 h1{font-size:0.375rem;color: #999;padding-bottom: 0.15625rem;}
.commodity-main1 p{font-size: 0.375rem;color: #545454}
.commodity-main1 img{width: 100%; padding-bottom: 0.3125rem;}
.commodity-more{padding-bottom: 0.3125rem;}
.commodity-more h1{font-size: 0.375rem;color: #999;}
.commodity-more p{font-size: 0.375rem;color: #545454}
.commodity-details img{width: 100%;margin-top: 0.3125rem;}
.commodity-details{padding: 0.375rem;}
.commodity-outline{display: none;}
.commodity-evaluation{display: none;}
.commodity-advice{display: none;}
.commodity-dagang{}
.dagang-top{padding: 0.375rem;}
.dagang-top span{font-size: 0.375rem;color: #999;}
.dagang-left{float: left;}
.dagang-right{float: right;}
.commodity-dagang ul{background: #fff;}
.commodity-dagang ul li{border-bottom: 1px solid #DDE2EA;height: 1.25rem;line-height: 1.25rem;padding-left: 0.375rem;}
.commodity-dagang ul li:last-of-type{border-bottom: none;}
.commodity-dagang ul li a{font-size: 0.375rem;color: #545454;display: block;}
.commodity-dagang ul li a .iconfont{font-size: 0.40625rem;color: #3BBE0E;float: left;}
.dagang-name{width: 5.390625rem;display: block;float: left;}
.dagang-zl{float: right;}
.dagang-luxiang{width: 0.375rem;float: left; height: 0.375rem;border: 1px solid #FF4D4D;font-size: 0.3125rem;color: #FF4D4D;line-height: 0.34375rem;margin-top:0.421875rem; text-align: center;}
.dagang-zl p{font-size: 0.375rem;color: #999;float: left;padding-left:0.15625rem;padding-right: 0.234375rem;}
.eva-top{padding: 0.3125rem 0.78125rem; margin-bottom: 0.375rem;}
.eva-top li{padding-bottom: 0.078125rem;}
.eva-top li p{width: 1.953125rem;float: left;font-size: 0.375rem;color: #999999;margin-right: 0.59375rem;}
.eva-top li.have p{color: #FF7F00}
.graph{width: 4.6875rem;height: 0.28125rem;background: #eee;float: left; margin-top: 0.1875rem;}
.graph .graph-orange{background: #FF7F00;display:block; height: 0.28125rem;}
.eva-top li span{font-size: 0.375rem;color: #999; padding-left:0.375rem;}
.add-comments{padding: 0.375rem;margin-bottom: 0.375rem;}
.add-comments span{font-size: 0.375rem;color: #999;float: left; line-height: 0.9375rem;padding-right: 0.375rem;}
.add-comments ul{float: left;margin-bottom:0.15625rem;}
.add-comments ul li{float: left;}
.add-comments ul li .iconfont{color: #ddd; font-size: 0.625rem;}
.add-comments ul li.shoucang .iconfont{color: #FF9900}
.comments-input{display: block;clear: both;border-radius:0.125rem;width: 100%;padding:0 2%;margin-bottom: 0.3125rem; line-height: 0.78125rem;font-size: 0.375rem;color: #555; background: #fff;border: 1px solid #ddd;}
.comments-btn{width: 2.8125rem;height: 0.78125rem;background: #3BBE0E;color: #fff;text-align: center;line-height: 0.78125rem;float: left; font-size: 0.375rem;display: block;}
.comments-txt{float: right;text-align: right;font-size: 0.3125rem;color: #999999;}
.comments-txt em{color: #FF7F00}
.comments-main li{margin-left:0.375rem;border-bottom: 1px solid #ddd; padding-top: 0.3125rem;}
.comments-main li:last-of-type{border-bottom:none;}
.comments-main li img{width: 0.46875rem;height: 0.46875rem;float: left;}
.comments-main li span{font-size: 0.375rem;color: #999; line-height: 0.46875rem; padding-left: 0.15625rem;}
.comments-main li span.comments-name{float: left;}
.comments-main li span.comments-time{float: right;padding-right: 0.375rem;}
.comments-main li p{clear: both;width: 100%;font-size: 0.4375rem;color: #525252;padding: 0.15625rem 0 0.3125rem 0;}
.comments-xingming{width: 0.46875rem;height: 0.46875rem;border-radius: 0.46875rem;float: left;background: #4788D8;font-size: 0.3125rem;color: #fff;text-align: center;line-height: 0.46875rem;}
.layui-m-layerchild{width: 9.25rem;border-radius:0.3125rem !important;}
.layui-m-layerbtn{border-radius:0.3125rem !important; background-color:#fff !important; border-top:none !important;}
.layui-m-layercont{border-bottom: 1px solid #bbb;}
.layui-m-layerbtn span{font-size: 0.46875rem !important; color: #2B99EB !important;}
.buy-tips h1{font-size: 0.5625rem;color: #525252}
.buy-tips p{font-size: 0.46875rem;color: #999;padding-top: 0.15625rem;}


.advice-top{background: #fff;margin: 0.15625rem; border-bottom:4px solid #63BF5C; padding:0.234375rem;}
.advice-top .advice-title{font-size: 0.46875rem;color: #535353;float: left;}
.advice-top .advice-person{float: right;}
.advice-top .advice-person span{font-size: 0.375rem;color: #545454}
.advice-top .advice-person span em{color: #FF4343}
.advice-input{width: 6.5rem;height: 0.75rem;clear: both; margin-top:0.3125rem;padding: 0 0.234375rem; float: left; display: block; line-height: 0.46875rem;border: 1px solid #c8c8c8;font-size: 0.375rem;}
.advice-input:-ms-input-placeholder{color: #C4C4C4;}
.advice-input::-webkit-input-placeholder{color: #C4C4C4;}
.advice-tiwen{width: 2.5625rem; float: right;background: #62BE5B;display: block;height: 0.75rem;line-height: 0.75rem;border-radius: 0.15625rem; margin-top: 0.3125rem;text-align: center;font-size: 0.375rem;color: #fff;}
.advice-main{margin: 0.3125rem 0.15625rem 0 0.15625rem;}
.advice{border-bottom: 1px solid #C8C8C8; padding-bottom: 0.3125rem; margin-bottom: 0.3125rem;}
.advice-main .advice:last-of-type{border-bottom: none; }
.advice-left{float: left;width: 1.25rem;}
.advice-left img{width: 1.25rem;height: 1.25rem;}
.advice-right{float: right;width: 8rem;}
.advice-right h1{font-size: 0.375rem;color: #555;}
.advice-right p{font-size: 0.3125rem;color: #555;}
.advice-right .advice-time{font-size: 0.375rem;color: #AFAFAF;padding-bottom: 0.15625rem}
.advice-hudong{padding-top: 0.15625rem;}
.advice-hudong a{font-size: 0.3125rem;color: #3999FB; padding-right: 0.3125rem;}
.advice-comment{padding-top:0.234375rem;}
.comment img{ width: 0.8rem;height: 0.8rem; float: left;}
.comment-right{float: right;width: 7rem}
.comment-right span{font-size:0.3125rem; }
.comment-right p{font-size::0.3125rem;color: #555 }
.comment-right .comment-name{color: #555;padding-right: 0.15625rem;}
.comment-right .comment-time{color: #AFAFAF}
.comment-input{width: 5.8rem;height: 0.65rem;clear: both; float: left; margin-top: 0.15625rem; border: 1px solid #C8C8C8;padding: 0 0.15625rem;background: #fff;line-height: 0.46875rem;}
.comment-btn{width: 1.3rem;height: 0.65rem; background: #62BE5B;margin-top: 0.15625rem; display: block; margin-left: 0.3125rem; line-height: 0.65rem;border-radius: 0.15625rem;display: block; float: left;text-align: center;font-size: 0.375rem;color: #fff}

.bottom-effect {position: fixed; width: 100%; left: 0; bottom: 0.3125rem;}
.end-notice {text-align: center; color: #000;font-size: 0.375rem;color: #555;}

