			<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="@{BackController.persons}"><i class="fa fa-user fa-fw"></i> 用户管理 </a>
                        </li>
                        <li>
                            <a href="@{BackController.menus}"><i class="fa fa-th-list fa-fw"></i> 菜单管理 </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-heart fa-fw"></i> ${models.post.Item.navs[0]} <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	#{list items: models.post.Item.Type.getByValue(100),as:"type"}
                                <li>
                                    <a href="@{BackController.items(type.value)}"> ${type} </a>
                                </li>
                                #{/list}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-plus-square fa-fw"></i>  ${models.post.Item.navs[1]}  <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               #{list items: models.post.Item.Type.getByValue(200),as:"type"}
                                <li>
                                    <a href="@{BackController.items(type.value)}"> ${type} </a>
                                </li>
                                #{/list}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-smile-o fa-fw"></i>  ${models.post.Item.navs[2]}  <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                #{list items: models.post.Item.Type.getByValue(300),as:"type"}
                                <li>
                                    <a href="@{BackController.items(type.value)}"> ${type} </a>
                                </li>
                                #{/list}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->